* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --h1-txt-color: #2F5766;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 3fr .7fr;
  grid-template-areas: "header-area" "main-area" "footer-area";
  max-width: 1300px;
  margin: auto;
}

/* ==================== HEADER ====================== */

header {
  grid-area: header-area;
  height: 24rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "main-title navigation" "... ...";
  align-items: start;
  padding: 3rem;
}

/* ------------ HEADER GRID AREAS ------------*/

/* -------- MAIN TITLE --------*/

.header__main-title {
  grid-area: main-title;
}

h1 {
  background-image: -webkit-linear-gradient(#c6d2d8, #375A65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  margin:0;
  z-index:1;
  font-size: 7rem;
  font-family: 'Playfair Display', serif;
  margin: 0;
  position: relative;
  filter: drop-shadow( 1.5px -1.5px 2px #999999); 
  font-weight: normal;
} 

.header__main-title h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: end;
  color: #5C6566;
  font-size: 1.7rem;
}

/* -------- NAVIGATION --------*/
nav {
  grid-area: navigation;
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.header__nav-button {
  width: 19%;
  padding: .6rem 0;
	-moz-box-shadow: 0px 4px 15px -3px #c2c2c2;
	-webkit-box-shadow: 0px 4px 15px -3px #c2c2c2;
	box-shadow: 0px 4px 15px -3px #c2c2c2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #f7eff7;
	cursor:pointer;
	color:#2F5766;
  text-decoration:none;
  text-align: center;
}
.header__nav-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0);
	background-color:#dfdfdf;
}
.header__nav-button:active {
	position:relative;
  top:1px;
  -moz-box-shadow: 0px 4px 15px -3px #393a3b;
  -webkit-box-shadow: 0px 4px 15px -3px #393a3b;
  box-shadow: 0px 4px 15px -3px #393a3b;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2f5766), color-stop(1, #527d8c));
  background:-moz-linear-gradient(top, #2f5766 5%, #527d8c 100%);
  background:-webkit-linear-gradient(top, #2f5766 5%, #527d8c 100%);
  background:-o-linear-gradient(top, #2f5766 5%, #527d8c 100%);
  background:-ms-linear-gradient(top, #2f5766 5%, #527d8c 100%);
  background:linear-gradient(to bottom, #2f5766 5%, #527d8c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f5766', endColorstr='#527d8c',GradientType=0);
  background-color:#2f5766;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #3e474a;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;

}

/* ==================== MAIN ====================== */

main {
  grid-area: main-area;
  height: 70rem;
  background-color: #BDD5DC;
  background-image: linear-gradient(#E3EAEA, #B9D2D9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-areas: "round-pic-area round-pic-area big-pic-area big-pic-area" "main-text main-text big-pic-area big-pic-area " "left-side-area central-area central-area right-area";
}

/* ------------ MAIN GRID AREAS ------------*/

/* ----- ROUND PICTURES -----*/

.main__round-pictures {
  grid-area: round-pic-area;
  margin-top: -6rem;
  margin-right: -5rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "meeting flags chart";
  justify-items: center;
  align-items: center;
  margin-left: 1rem;
  width: 120%;
}

.round__picture {
  position: relative;
  height: 14.38rem;
  width: 14.38rem;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 2px;
}

.round__picture:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid white;
  border-radius: 50%;
}

#round__meeting {
  grid-area: meeting;
  background-image: url(../assets/Meeting.jpeg);
  background-position: 50%;
}

#round__flags {
  grid-area: flags;
  background-image: url(../assets/Flags.jpg);
  background-position: 50%;
}

#round__chart {
  grid-area: chart;
  background-image: url(../assets/Chart.jpg);
  background-position: 50%;
}

/* ----- MAIN h2 TEXT -----*/

#main__text {
  grid-area: main-text;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas: "small-title" "big-title" "paragraph";
}

main__text h3 {
  grid-area: small-title;
}

main__text h2 {
  grid-area: big-title;
}

main__text p {
  grid-area: paragraph;
}

/* ----- BIG PICTURE -----*/

.main__big-picture {
  grid-area: big-pic-area;
  margin-top: -8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main__big-picture img {
  width: 100%;
}

/* ----- LEFT SIDEBAR -----*/

.main__left-sidebar {
  grid-area: left-side-area;
  padding: 2rem;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas: "title" "1" "2" "3";
}

.main__left-sidebar h4 {
  grid-area: title;
}

#left-sidebar__1 {
  grid-area: 1;
}

#left-sidebar__2 {
  grid-area: 2;
}

#left-sidebar__3 {
  grid-area: 3;
}

/* ----- CENTRAL AREA -----*/

.main__central-area {
  grid-area: central-area;
  padding: 2rem 0;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "1" "2";
}

#central-area__row1 {
  grid-area: 1;
}

#central-area__row2 {
  grid-area: 2;
}

/* ----- RIGHT SIDEBAR -----*/

.main__right-sidebar {
  grid-area: right-area;
  padding: 2rem;
  padding-left: 2.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main__right-sidebar ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  padding: 1rem 0;
  position: relative;
}

li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  transform: translateX(-50%);
  border-top: 2px dashed #A2A3A4;
  width: 107%;
  height: 100%;
  margin: 0 auto;
}

/* ==================== FOOTER ====================== */

footer {
  grid-area: footer-area;
  background-color: #F4F5F6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "f1 f2 f3 f4 f5" "f6 f6 f6 f6 f6";
}

#footer__1 {
  grid-area: f1;
  display: flex;
  flex-direction: column;
}

#footer__2 {
  grid-area: f2;
  display: flex;
  flex-direction: column;
}

#footer__3 {
  grid-area: f3;
  display: flex;
  flex-direction: column;
}

#footer__4 {
  grid-area: f4;
  display: flex;
  flex-direction: column;
}

#footer__5 {
  grid-area: f5;
  display: flex;
  flex-direction: column;
}

#footer__6 {
  grid-area: f6;
  height: 100px;
}

#footer__6 h5 {
  text-align: center;
  padding-top: 2.5rem;
  ;
}