* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr ;
  grid-template-areas: 
  "header-area"
  "main-area"
  "footer-area";
  max-width: 1300px;
  margin: auto;
}

/* ==================== HEADER ====================== */

header {
  grid-area: header-area;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "main-title navigation"
  "... ...";
}
/* ------------ HEADER GRID AREAS ------------*/

/* -------- MAIN TITLE --------*/
.header__main-title {
  grid-area: main-title;
}
/* -------- NAVIGATION --------*/
nav {
  grid-area: navigation;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "home about services products contact";
}

#nav__home {
  grid-area: home;
}

#nav__about {
  grid-area: about;
}

#nav__services {
  grid-area: services;
}

#nav__products {
  grid-area: products;
}

#nav__contact {
  grid-area: contact;
}

/* ==================== MAIN ====================== */

main {
  grid-area: main-area;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-areas: 
  "round-pic-area round-pic-area big-pic-area big-pic-area"
  "main-text main-text big-pic-area big-pic-area "
  "left-side-area central-area central-area right-area";
}

/* ------------ MAIN GRID AREAS ------------*/

/* ----- ROUND PICTURES -----*/
.main__round-pictures {
  grid-area: round-pic-area;
  margin-top: -6rem;
  margin-right: -5rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "meeting flags chart";
  justify-items: center;
  align-items: center;
  margin-left: 2rem;
}

.round__picture {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 2px;
}

.round__picture:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid white;
  border-radius: 50%;
}

#round__meeting {
  grid-area: meeting;
  background-image: url(../assets/Meeting.jpeg);
  background-position: 50%;
}

#round__flags {
  grid-area: flags;
  background-image: url(../assets/Flags.jpg);
  background-position: 50%;
}

#round__chart {
  grid-area: chart;
  background-image: url(../assets/Chart.jpg);
  background-position: 50%;
}

/* ----- MAIN TEXT -----*/

#main__text {
  grid-area: main-text;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas: 
  "small-title"
  "big-title"
  "paragraph";
}

main__text h3 {
  grid-area: small-title;
}

main__text h2 {
  grid-area: big-title;
}

main__text p {
  grid-area: paragraph;
}

/* ----- BIG PICTURE -----*/
.main__big-picture {
  grid-area: big-pic-area;
  margin-top: -6rem;
}

.main__big-picture img {
  height: 100%;
}

/* ----- LEFT SIDEBAR -----*/

.main__left-sidebar {
  grid-area: left-side-area;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-areas: 
  "title"
  "1"
  "2"
  "3";
}

.main__left-sidebar h4 {
  grid-area: title;
}

#left-sidebar__1 {
  grid-area: 1;
}

#left-sidebar__2 {
  grid-area: 2;
}

#left-sidebar__3 {
  grid-area: 3;
}

/* ----- CENTRAL AREA -----*/

.main__central-area {
  grid-area: central-area;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "1"
  "2";
}

#central-area__row1 {
  grid-area: 1;
}

#central-area__row2 {
  grid-area: 2;
}

/* ----- RIGHT SIDEBAR -----*/

.main__right-sidebar {
  grid-area: right-area;
}

/* ==================== FOOTER ====================== */

footer {
  grid-area: footer-area;
  background-color: green;
}